cmake-build-debug/
.idea/
*~
venv/
.venv/
__pycache__
deploy.conf

*.ptm
!config/MidiMappings/ptm/*.ptm

dist/
build/
*.egg-info
.DS_Store
pi-pianoteq.service
pi_pianoteq.service

pi-pianoteq/*
backup-*/
