[Unit]
Description = Service for pi-pianoteq

[Service]
Type=simple
User={{USER}}
Group={{USER}}
ExecStartPre=cpupower frequency-set -g performance
ExecStart=/home/{{USER}}/pi-pianoteq-venv/bin/python -u -m pi_pianoteq
ExecStopPost=cpupower frequency-set -g ondemand
PermissionsStartOnly=true
LimitMEMLOCK=500000
LimitRTPRIO=90
LimitNICE=-10
Nice=-10

[Install]
WantedBy=graphical.target
