[Unit]
Description = Service for pi_pianoteq

[Service]
Type=simple
User=tom
Group=tom
ExecStartPre=cpupower frequency-set -g performance
ExecStart=python3 -m pi_pianoteq
ExecStopPost=cpupower frequency-set -g ondemand
PermissionsStartOnly=true
LimitMEMLOCK=500000
LimitRTPRIO=90
LimitNICE=-10
Nice=-10

[Install]
WantedBy=graphical.target
