[Unit]
Description = Service for pi_pianoteq

[Service]
Type=simple
ExecStart=python3 -m pi_pianoteq
User=pi
Group=pi

[Install]
WantedBy=default.target
