[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
python-rtmidi = "~=1.4"
prompt-toolkit = "~=3.0"
pillow = "~=7.1"
gfxhat = "==0.0.1"

[requires]
python_version = "3.8"

[scripts]
package = "python3 setup.py sdist"
deploy = "sh deploy.sh"
